*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
}
body{
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container{
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    background: #fff;
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 50px;
    /* box-shadow: 0 35px 55px rgba(0, 0, 0, 1); */

}
.container .left{
    position: relative;
    background: #223f4d;
    padding: 40px;
}
.container .right{
    position: relative;
    background: #e1d8d8;
    padding: 40px;
}
.profile{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid white;
    color: white;
}
.profile .pro_img{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}
.profile .pro_img img{
    width: 100%;
}
 .title{   /* left_side title */
    color: white;
    margin-bottom: 30px;
}
.info ul li{
    position: relative;
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
}
.info ul li .icon{
    color: rgb(95, 158, 230);
}
.info ul li .text{  /* left_side info */
    color: white;
}
.about ul li{
    position: relative;
    list-style: none;
    margin: 10px 0;
}
.title_right{
    margin: 10px 0;
    text-align: justify;
    text-justify: auto;
}   
.right_li{
    margin: 7px;
}
@media (max-width: 1000px) {
    .container{
        margin: 10px;
        grid-template-columns: repeat(1,1fr);
    }
}