<div class="bg-[#0E57A5] ">
    <div class="flex flex-wrap max-w-[1350px]  mx-auto pt-[80px] px-[20px]">
        <div
            class="pt-[60px] text-start items-start max-md:items-center max-md:text-center justify-center flex flex-col  basis-[50%] max-md:basis-[100%] text-white ">
            <p class="text-[34px] font-medium">We Build</p>
            <p class="text-[34px] font-medium">Website and Mobile apps</p>
            <p class=" w-[120px] m-[30px_0px] border-[1.4px] border-white"></p>
            <p class="text-[18px] my-[20px]">SentientGeeks provide end-to-end app development for leading enterprises
                and startups worldwide.</p>
            <button
                class="bg-white text-[#013872] text-[18px] p-[0px_28px] font-bold leading-[50px] rounded-[5px] hover:bg-[#013872] hover:text-white delay-75">LETS
                CONNECT</button>

        </div>
        <div class=" basis-[50%] max-md:basis-[100%]"><img
                src="https://sentientgeeks.com/images/banner/mobile-ban3.webp" alt=""></div>
    </div>
</div>
<div class="flex flex-wrap items-center max-w-[1320px] mx-auto ">
    <div class="basis-[50%] max-md:basis-[100%] px-[20px]">
        <img src="https://imgur.com/xKtSGA1.png" alt="">
    </div>
    <div class="basis-[50%] max-md:basis-[100%] px-[20px] pb-[20px]">
        <h1 class="text-[36px] font-bold text-[#DD4A48] leading-10"><a class="text-[#0E57A5]">End-To-End Smart</a>
            Software Development Solution</h1>
        <p class="text-[#747078] my-[15px]">As a certified & accredited software application Development Company we are
            focused on helping your business
            grow by roping in upgraded technologies. We consider facets of your projects, allowing us to identify issues
            & get them resolved before it takes the entire course.

            Our offshore software development company offer the best combination of technology stacks to solve the
            challenges.

            Our robust foothold of seasoned skills, creative ideas & consistency to deliver results with perfection
            makes us unique. With our innovative strategies & proven technical expertise, our primary goal is to
            accelerate your business.</p>
        <span class="font-medium text-[18px] space-x-2 text-[#0E57A5]">Learn More On us<i class="fa fa-long-arrow-right"
                aria-hidden="true"></i></span>
    </div>
</div>
<div class="bg-[#F9FAFB]">
    <div class="flex flex-col items-center justify-center text-center pb-[40px]">
        <div class="mx-[25%]">
            <h1 class="text-[36px] font-bold text-[#0E57A5]">What We Can <a class="text-[#DD4A48]">Offer</a></h1>
            <p class="text-[747078] mt-[20px]">Grow your business online with our ROI driven solutions. Our web application
                development company offers scalable,
                intuitive & easy to maintain applications. Being a one-stop service provider, we take care of your IT
                needs
                right from scratch.</p>
        </div>
    </div>
    <div>

    </div>
</div>