<div class="bg-[#202020]">
    <!-- outer div-->
    <div class=" px-[20px] py-[60px] max-w-[1320px] flex flex-wrap justify-around mx-auto">
        <!-- first footer column -->
        <div class="footer_items px-[30px]">
            <img class="mb-[60px]" src="../../assets/navbar/navbar_icon.png" alt="">
            <p class="mb-[10px] description">In Tihalt, everyone has a voice and the ability to propose projects
                directly to
                the network. Anything you can
                do.
            </p>
            <div class="flex flex-row space-x-2">
                <i class="fa fa-facebook p-[10px] text-black bg-white rounded-[50%] w-[10px] h-[10px] flex items-center justify-center"
                    aria-hidden="true"></i>
                <i class="fa fa-twitter p-[10px] text-black bg-white rounded-[50%] w-[10px] h-[10px] flex items-center justify-center"
                    aria-hidden="true"></i>
                <i class="fa fa-youtube-play p-[10px] text-black bg-white rounded-[50%] w-[10px] h-[10px] flex items-center justify-center"
                    aria-hidden="true"></i>
                <i class="fa fa-linkedin p-[10px] text-black bg-white rounded-[50%] w-[10px] h-[10px] flex items-center justify-center"
                    aria-hidden="true"></i>
                <i class="fa fa-instagram p-[10px] text-black bg-white rounded-[50%] w-[10px] h-[10px] flex items-center justify-center"
                    aria-hidden="true"></i>
                <i class="fa fa-pinterest-p p-[10px] text-black bg-white rounded-[50%] w-[10px] h-[10px] flex items-center justify-center"
                    aria-hidden="true"></i>
            </div>
            <div>
                <h4 class="footer_head">INTERACTIVE WEB SOLUTIONS</h4>
                <ul class="list-none ">
                    <li class="footer_list"><i class="fa fa-angle-right " aria-hidden="true"></i> <a
                            class="footer_list" href="#">Drupal Development</a></li>
                    <li class="footer_list"><i class="fa fa-angle-right " aria-hidden="true"></i> <a
                            class="footer_list" href="#">CMS Website Development</a></li>
                    <li class="footer_list"><i class="fa fa-angle-right " aria-hidden="true"></i> <a
                            class="footer_list" href="#">Ecommerce Website Development</a> </li>
                    <li class="footer_list"><i class="fa fa-angle-right " aria-hidden="true"></i> <a
                            class="footer_list" href="#">Joomla Development</a></li>
                    <li class="footer_list"><i class="fa fa-angle-right " aria-hidden="true"></i> <a
                            class="footer_list" href="#">Responsive Web Design</a></li>
                    <li class="footer_list"><i class="fa fa-angle-right " aria-hidden="true"></i> <a
                            class="footer_list" href="#">Website Maintenance Services</a></li>
                    <li class="footer_list"><i class="fa fa-angle-right " aria-hidden="true"></i> <a
                            class="footer_list" href="#">WordPress Development</a></li>
                </ul>
            </div>

        </div>
        <!-- second footer column  -->
        <div class="footer_items px-[30px]">
            <!-- heading and description  -->
            <div class="mb-[60px]">
                <h4 class="footer_head">USEFUL LINKS</h4>
                <ul>
                    <li class="description"><a href="#">Mobile Application Development</a></li>
                    <li class="description"><a href="#">Best Digital Marketing Copany in Bangalore</a></li>
                    <li class="description"><a href="#">Website Development Service</a></li>
                    <li class="description"><a href="#">Creative Communications</a></li>
                    <li class="description"><a href="#">Graphic design company in bangalore</a></li>
                    <li class="description"><a href="#">SEO Servie in bangalore</a></li>
                    <li class="description"><a href="#">Terms and conditions</a></li>
                    <li class="description"><a href="#">Refund and cancellation policy</a></li>
                </ul>
            </div>
            <div>
                <h4 class="footer_head">DIGITAL MARKETING</h4>
                    <ul>
                        <li class="footer_list"><i class="fa fa-angle-right " aria-hidden="true"></i><a
                                href="#">Link Building
                                Services</a></li>
                        <li class="footer_list"><i class="fa fa-angle-right " aria-hidden="true"></i><a href="#">SEO
                                Copywriting</a></li>
                        <li class="footer_list"><i class="fa fa-angle-right " aria-hidden="true"></i><a href="#">PPC
                                Company
                                Bangalore</a></li>
                        <li class="footer_list"><i class="fa fa-angle-right " aria-hidden="true"></i><a
                                href="#">Search Engine
                                Marketing</a></li>
                        <li class="footer_list"><i class="fa fa-angle-right " aria-hidden="true"></i><a
                                href="#">Social Media
                                Marketing</a></li>
                        <li class="footer_list"><i class="fa fa-angle-right " aria-hidden="true"></i><a
                                href="#">Content
                                Writing</a></li>
                    </ul>
            </div>
        </div>
        <!-- third footer column  -->
        <div class="footer_items px-[30px]">
            <h4 class="footer_head">GET TOUCH WITH US</h4>
            <div class="description">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                No. 32, 38/1, 2nd Floor, Sri Ram Arcade, Near Bosch Office, Hosur
                Main Road, Bommanahalli, Bengaluru, Karnataka 560068.
            </div>
            <!-- mobile and email  -->
            <div class="mb-[10px] flex flex-col description">
                <i class="fa fa-envelope-o" aria-hidden="true">info&#69;tihalt.com.</i> <br>
                <i class="fa fa-phone" aria-hidden="true">+91 96 1122 3984</i>
            </div>
            <div>
                <h4 class="footer_head">SOFTWARE DEVELOPMENT</h4>
                <ul>
                    <li class="footer_list"><i class="fa fa-angle-right " aria-hidden="true"></i><a href="#">Mobile
                            Application
                            Development</a></li>
                    <li class="footer_list"><i class="fa fa-angle-right " aria-hidden="true"></i><a
                            href="#">Application
                            development</a></li>
                    <li class="footer_list"><i class="fa fa-angle-right " aria-hidden="true"></i><a
                            href="#">Interactive
                            Application Development</a></li>
                    <li class="footer_list"><i class="fa fa-angle-right " aria-hidden="true"></i><a href="#">Custom
                            Software
                            Development/ Maintenance</a></li>
                    <li class="footer_list"><i class="fa fa-angle-right " aria-hidden="true"></i><a
                            href="#">Enterprise solution
                            development</a></li>
                    <li class="footer_list"><i class="fa fa-angle-right " aria-hidden="true"></i><a href="#">ERP
                            solutions &
                            support</a></li>
                </ul>

            </div>
        </div>
    </div>
</div>
<!-- footer copyright portion  -->
<div class="bg-[#202020]">
    <div class="max-w-[1320px] mx-auto text-[#838383] py-[38px] px-[20px] flex justify-center items-center">
        Copyright ©
        2016-2023 Tihalt Technosoft Private Limited.</div>
</div>
