<div class=" bg-[#EBF3FA] w-full">
   <div class="flex flex-wrap items-center justify-center max-w-[1320px] mx-auto p-[100px_15px_40px]">
    <div class="text-[#0E57A5]">
        <h1 class="text-[36px] font-medium">Join Us & Build Up Your Career</h1>
        <h1 class="text-[34px] font-extrabold">GRAB YOUR DREAM JOB</h1>
        <button (click)="checkLogin()"
            class="px-[20px] font-bold py-[10px] border-[1px] text-white bg-[#0E57A5] hover:bg-white hover:text-[#0E57A5] border-[#0E57A5] rounded-[6px] delay-150">APPLY
            JOB</button>
    </div>
    <div>
      <img src="https://sentientgeeks.com/images/career/Group%201.svg" alt="">
    </div>
   </div>

</div>