<div class="bg-[#0E57A5] ">
    <div class="flex  max-w-[1350px]  mx-auto pt-[80px] px-[20px]">
        <div
            class="pt-[60px] text-start items-start max-md:items-center max-md:text-center justify-center flex flex-col  text-white ">
            <p class="text-[34px] font-medium">About Us</p>
            <p class="text-[34px] font-medium">Talk about Tech and Development.</p>
            <p class=" w-[120px] m-[30px_0px] border-[1.4px] border-white"></p>
            <p class="text-[18px] my-[20px]">SentientGeeks provide end-to-end app development for leading enterprises
                and startups worldwide.</p>
          
                

        </div>
        <!-- <div class=" basis-[50%] max-md:basis-[100%]"><img
                src="https://sentientgeeks.com/images/banner/mobile-ban3.webp" alt=""></div>
    </div> -->
</div>