<div class="bg-contain  " style="background-image: url(../../assets/backgrond/home_bg.webp);">
    <section class="text-gray-400 body-font bg-[#090909] bg-opacity-[0.90]">
      <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-col text-center w-full mb-20">
          <h2 class="text-xs text-indigo-400 tracking-widest font-medium title-font mb-1">STATIC-PAGES</h2>
          <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-[#D6BD98]">Angular-First-App</h1>
          <p class="lg:w-2/3 mx-auto leading-relaxed text-base">This is the demo anugular project to understand angular basic fundamentals like component and routing and other packages of angular cli and also it includes the installation of angular 17 and typescript basic concept </p>
        </div>
        <div class="flex flex-wrap">
          <div class="xl:w-1/4 lg:w-1/2 md:w-full px-8 py-6 border-l-2 border-[#677D6A]">
            <h2 class="text-lg sm:text-xl text-[#D6BD98] font-medium title-font mb-2">Component Concept</h2>
            <p class="leading-relaxed text-base mb-4">To make the code reusable and Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
         
            <a class="text-[#677D6A] inline-flex items-center">Learn More
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                <path d="M5 12h14M12 5l7 7-7 7"></path>
              </svg>
            </a>
            <img class="pt-4" src="../../assets/home/component_concept.png" alt="">
          </div>
          <div class="xl:w-1/4 lg:w-1/2 md:w-full px-8 py-6 border-l-2 border-[#677D6A]">
            <h2 class="text-lg sm:text-xl text-[#D6BD98] font-medium title-font mb-2">Tailwind Cli</h2>
            <p class="leading-relaxed text-base mb-4">This is the framework of css, and Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            <a class="text-[#677D6A] inline-flex items-center">Learn More
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                <path d="M5 12h14M12 5l7 7-7 7"></path>
              </svg>
            </a>
            <img class="pt-4" src="../../assets/home/tailwind_cli.png" alt="">
          </div>
          <div class="xl:w-1/4 lg:w-1/2 md:w-full px-8 py-6 border-l-2 border-[#677D6A]">
            <h2 class="text-lg sm:text-xl text-[#D6BD98] font-medium title-font mb-2">Routing</h2>
            <p class="leading-relaxed text-base mb-4">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur, consectetur.</p>
            <a class="text-[#677D6A] inline-flex items-center">Learn More
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                <path d="M5 12h14M12 5l7 7-7 7"></path>
              </svg>
            </a>
            <img class="pt-4" src="../../assets/home/routing.webp" alt="">
          </div>
          <div class="xl:w-1/4 lg:w-1/2 md:w-full px-8 py-6 border-l-2 border-[#677D6A]">
            <h2 class="text-lg sm:text-xl text-[#D6BD98] font-medium title-font mb-2">TypeScript</h2>
            <p class="leading-relaxed text-base mb-4">It is <b>the superset of javascript</b> and Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
            <a class="text-[#677D6A] inline-flex items-center">Learn More
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                <path d="M5 12h14M12 5l7 7-7 7"></path>
              </svg>
            </a>
            <img class="pt-4" src="../../assets/home/typescript.png" alt="">
          </div>
        </div>
       
        
      </div>
    </section>
  </div>